
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
<nav>
    <a href="/">الرئيسية</a> |
    <a href="/gallery">رسوماتي</a> |
    <a href="/courses">الكورسات</a> |
    <a href="/about">من أنا</a> |
    <a href="/contact">تواصل</a> |
    <a href="/pay">الدفع</a>
</nav>

    <br>
    
    <h1>من هو بسام؟</h1>
    <p>أنا بسام، أحب الرسم منذ صغري وبدأت برسم الأبنية وانتهيت برسم البشر.</p>
    <p>واجهت الكثير من التحديات، لكنني ثابرت حتى حققت حلمي بأن أكون فناناً عظيماً مشهوراً.</p>
    
    <br><a href="/">رجوع</a>
</body>
</html>
