
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>contact</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
<nav>
    <a href="/">الرئيسية</a> |
    <a href="/gallery">رسوماتي</a> |
    <a href="/courses">الكورسات</a> |
    <a href="/about">من أنا</a> |
    <a href="/contact">تواصل</a> |
    <a href="/pay">الدفع</a>
</nav>

    <br>
    
    <h1>تواصل معي</h1>
    <p>📞 رقم الهاتف: <strong>+20 106 677 1981</strong></p>
    <form>
        <input type="text" placeholder="اسمك"><br>
        <input type="email" placeholder="بريدك الإلكتروني"><br>
        <textarea placeholder="رسالتك..."></textarea><br>
        <button type="submit">إرسال</button>
    </form>
    
    <br><a href="/">رجوع</a>
</body>
</html>
