
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>courses</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
<nav>
    <a href="/">الرئيسية</a> |
    <a href="/gallery">رسوماتي</a> |
    <a href="/courses">الكورسات</a> |
    <a href="/about">من أنا</a> |
    <a href="/contact">تواصل</a> |
    <a href="/pay">الدفع</a>
</nav>

    <br>
    
    <h1>كورسات بسام</h1>
    <div class="course">
        <h3>🎨 كورس رسم الأبنية</h3>
        <p>تعلم أساسيات رسم الأبنية والمنظور.</p>
        <p>💵 السعر: 100 دولار</p>
        <a href="/pay?course=رسم الأبنية"><button>ادفع عبر InstaPay</button></a>
    </div>
    <div class="course">
        <h3>🧑‍🎨 كورس رسم الأنمي</h3>
        <p>تعلم كيفية رسم شخصيات الأنمي بتفاصيل دقيقة.</p>
        <p>💵 السعر: 150 دولار</p>
        <a href="/pay?course=رسم الأنمي"><button>ادفع عبر InstaPay</button></a>
    </div>
    
    <br><a href="/">رجوع</a>
</body>
</html>
